.footer-area {
  background-image: #ddd6f3;
  background-size: cover;
}

.footer-area li {
  padding-bottom: 10px;
}

.social-media .icon {
  height: 40px;
  width: 40px;
  color: #ddd6f3;
  border-radius: 50%;
  border: 1px solid #ddd6f3;
  padding: 10px;
}
.social-media .active-icon {
  background-color: #ddd6f3;
  color: white;
}
